<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>Main Page</title>
</head>
<body>
    <nav class="navbar navbar-dark navbar-expand-lg " style="padding: 0px 10px 0px 10px;background-color: #43548c;">
        <div class="row" style="width: 100%;">
            <div class="col-6" >
                <a class = "navbar-brand" href="/dashboard">Dashboard</a>
            </div>

            <div class="col-6" style="text-align: right;">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbaroptions" aria-controls="navbaroptions" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbaroptions">
                    {% if user == false %}
                    <div class="ml-auto mr-0"> 
                        <a class="btn btn-outline-primary my-2 my-sm-0" type="submit" href = "{{login}}">
                            Login
                        </a>
                    </div>
                    {% else %}
                    <div class="nav-item dropdown ml-auto mr-0 uname"> 
                        <a class="nav-link dropdown-toggle" href="#" id="logoutOption" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{name}}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="logoutOption">
                        <a class="dropdown-item" href="{{logout}}" style="color: black;">Logout</a>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>  
    
    <div class="container-fluid">
        <div class="row" style="margin: 0px 15px; padding: 10px; background-color: #f3f3f3;">
            <div class="title_bar col-sm-5">
                <h4 style="font-weight: 350; display: inline; font-size: 1.5rem;">
                    {{Data.title}} 
                    <sub class="owner_name">
                        <h6 class="text-muted" style="font-weight: 400; display: inline; font-size: small;">
                            created by {{Data.owner.email}}
                        </h6>
                    </sub>
                </h4>
            </div>
            
            <div class="ml-auto mr-0 col-sm-5 title_bar" style="text-align: right;">
                <div class="ml-auto mr-0">
                    {% if  name == Data.owner.email %}
                    <button data-toggle="modal" data-target="#invite" class="btn btn-outline-success"><i class="fas fa-user-plus"></i></button>
                    {% endif %}
                    <button data-toggle="modal" data-target="#details" class="btn btn-outline-info"><i class="fas fa-lg fa-info-circle"></i></button>
                    <button data-toggle="modal" data-target="#editOptions" class="btn btn-outline-secondary"><i class="fas fa-edit"></i></button>
                    {% if  name == Data.owner.email %}
                    {% if Data.users | length == 1  and Data.tasks | length ==0 %}
                    <button data-toggle="modal" data-target="#deleteBoard" class="btn btn-outline-danger"><i class="fas fa-trash-alt"></i></button>
                    {% else %}
                    <button data-toggle="modal" data-toggle="tooltip" title="Remove all users and Tasks to Delete TaskBoard" class="btn btn-outline-danger" disabled><i class="fas fa-trash-alt"></i></button>
                    {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>


    {% if Error|length > 1 %}
    <div class="container mt-1 mb-0">
      <div class="row" style="width: 100%;text-align: center;">
          <div class="alert mx-auto alert-danger alert-dismissible fade show" role="alert" style="width: 50%; height: 2.8rem; padding: 0.5rem;">
              {{Error}}
              <button type="button" onclick='window.location.href = "/taskBoard?key={{Data.key.urlsafe()}}"' class="close" aria-label="Close" style="padding: 0.5rem">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
      </div>
    </div>
    {% endif %}
    
    {% if Success|length > 1 %}
    <div class="container mt-1 mb-0" style="width: 100%;text-align: center;">
      <div class="row">
          <div class="alert mx-auto alert-success alert-dismissible fade show" role="alert" style="width: 50%; height: 2.8rem; padding: 0.5rem;">
              {{Success}}
              <button type="button" class="close" onclick='window.location.href = "/taskBoard?key={{Data.key.urlsafe()}}"' aria-label="Close" style="padding: 0.5rem;">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
      </div>
    </div>
    {% endif %}


    <div class="container task-container">
        <div class="row mt-2" >
            <h3 class="mx-auto" style="font-weight: 300;">Tasks</h3>
        </div>
        <hr class="mt-0">
        <div class="row" style="padding-top: 30px; width: 100%;">
            {% for task in Data.tasks %}
            <div class="col-lg-4 col-sm-12 col-md-6 my-3">
                {% if task.user == None %}
                <div class="card tasks no-user">
                {% else %}
                <div class="card tasks">
                {% endif %}
                    <div class="card-header">
                        <h5 class="card-title">{{ task.title }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{task.user.email}}</h6>
                    </div>
                    <div class="card-body">
                        <p class="card-text task-text" style="margin-top: 0rem !important;">{{task.description}}</p>
                        <hr style="margin-top: 0;">
                        <p class="card-text task-text">
                            Due: {{task.due_date.strftime('%d %b %Y')}}
                        </p>
                        <hr style="margin-top: 0;">
                        {% if task.completion_date != None %}
                        <p class="card-text task-text" style="color: green !important;">
                            Completed: {{task.completion_date.strftime('%I:%m %p %d %b %Y')}}
                        </p>
                        <hr style="margin-top: 0;">
                        {% endif %}
                    </div>
                    <div class="card-footer " style="padding-right:0.2rem;">
                        <div class="form-check" style="display: inline;">
                            {% if task.status == 'False' %}
                            <a type="submit" name="toggle" value="toggle-task" >
                                <input type="checkbox"  class="form-check-input status-change" name='status' data-id="{{task.title}}" value="{{task.title}}">
                                <label class="form-check-label" for="status">Status</label>
                            </a>
                            {% else %}
                            <a type="submit" name="toggle" value="toggle-task" >
                                <input type="checkbox" class="form-check-input status-change" name='status' data-id="{{task.title}}" value="{{task.title}}" checked>
                                <label class="form-check-label" for="status">Status</label>
                            </a>
                            {% endif %}
                        </div>
                        <div  style="display: inline; margin-left: 4.5rem;">
                            <button class="btn btn-info edit-task" value="{{task.title}}"><i class="fas fa-sm fa-edit"></i></button>
                            <button class="btn btn-danger delete-task" value ="{{task.title}}"><i class="far fa-sm fa-trash-alt"></i></button>
                        </div>
                    </div>
                  </div>
            </div>
            {%endfor%}
            <div class="col-12 col-sm-4 my-3" style="width: 100%;min-height: 250px;display: flex; justify-content: center;">
                <div class="my-auto">
                    <a href="#" data-toggle="modal" data-target="#addTask" class="card add-task mx-auto" style="height: 100px ; width: 100px; padding: 10px;">
                        <img class="card-img mx-auto" src="/image/plus.png" alt="ADD TASK" style="width: 80%;height: 90%;">
                    </a>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade " id="details" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content popup">
        <div class="modal-header" >
          <h5 class="modal-title" id="exampleModalLabel">{{Data.title}} Details</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-sm-6">
                    Title
                </div>
                <div class="col-12 col-sm-6">
                    <p style="color: #43548c;">{{Data.title}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-sm-6">
                    Owner
                </div>
                <div class="col-12 col-sm-6">
                    <p style="color: #43548c;">{{Data.owner.email}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-sm-6">
                    Total Number of tasks
                </div>
                <div class="col-12 col-sm-6">
                    <p style="color: #43548c;">{{Data.tasks | length}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-sm-6">
                    Active Tasks
                </div>
                <div class="col-12 col-sm-6">
                    <p style="color: #43548c;">{{tasks_active}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-sm-6">
                    Completed Tasks
                </div>
                <div class="col-12 col-sm-6">
                    <p style="color: #43548c;">{{tasks_completed}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-sm-6">
                    Tasks Completed Today
                </div>
                <div class="col-12 col-sm-6">
                    <p style="color: #43548c;">{{tasks_completed_todaay}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-sm-6">
                    Participants
                </div>
                <div class="col-12 col-sm-6">
                    {% for user in Data.users %}
                    <div class="row"> 
                        <p style="color: #43548c;">{{user.email}}</p><br>
                    </div>
                    {%endfor%}
                </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" data-toggle="modal" data-dismiss="modal" data-target="#editBoard" class="btn btn-info">Edit</button>
        </div>
      </div>
    </div>
  </div>

    <div class="modal fade " id="addTask" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content popup">
                <div class="modal-header">
                    <h5 class="modal-title">Add new Task</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class='needs-validation' action="/taskBoard?key={{Data.key.urlsafe()}}" method="POST" novalidate>
                        <div class="form-group">
                            <div class="form-group row" style="padding-right: 15px;" >
                                <label for="title" class="col-sm-3 col-form-label">Title</label>
                                <input type="text" class="form-control col-sm-7 ml-auto" id="title" name="title" placeholder="Task Name" required min=3>
                                <div class='invalid-feedback'>Enter valid Title</div>
                            </div>
                            <div class="form-group row" style="padding-right: 15px;">
                                <label for="dueDate" class="col-sm-3 col-form-label">Due Date</label>
                                <input class="form-control col-sm-7 ml-auto date-set" type="date" name="dueDate" max="3000-12-31" required>
                                <div class='invalid-feedback'>Enter valid Date</div>
                            </div>
                            <div class="form-group row" style="padding-right: 15px;" >
                                <label for="description" class="col-12 col-form-label">Description</label>
                                <div class="col-12">
                                    <textarea class="col-12 form-control" name="description" id="description" cols="10" rows="5" required></textarea>
                                </div>
                                <div class='invalid-feedback'>Enter valid Description(min 5)</div>
                            </div>
                            <div class="form-group row" style="padding-right: 15px;" >
                                <label for="users" class="col-sm-3 col-form-label">Assigned to</label>
                                <select name="user" id="user" class="form-control col-sm-7 ml-auto">
                                    {% for user in Data.users %}
                                    <option value="{{user.email}}">{{user.email}}</option>
                                    {% endfor %}
                                </select>
                                <div class='invalid-feedback'>Enter valid user</div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-outline-primary" name="perform_action" value = "Add">Submit</button>
                        <button type="button mx-auto" class="btn btn-outline-danger" data-dismiss="modal">Close</button>
                    </form>
                </div>
            </div>
        </div>
      </div>



      <div class="modal fade " id="invite" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content popup">
                    <div class="modal-header">
                        <h5 class="modal-title">Invite users to TaskBoard</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form class='needs-validation' action="/taskBoard?key={{Data.key.urlsafe()}}" method="POST" novalidate>
                            <div class="form-group">
                                <div class="form-group row" style="padding-right: 15px;" >
                                    <label for="invite_user" class="col-sm-3 col-form-label">User email</label>
                                    <input type="email" class="form-control col-sm-7 ml-auto" id="invite_user" name="invite_user" placeholder="Email">
                                    <div class='invalid-feedback'>Enter valid email</div>
                                </div>
                            <button type="submit" class="btn btn-outline-primary" name="perform_action" value = "invite">Submit</button>
                            <button type="button mx-auto" class="btn btn-outline-danger" data-dismiss="modal">Close</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade " id="confirmation" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content popup">
                <div class="modal-header">
                    <h5 class="modal-title">Confirmation</h5>
                    <button type="button" class="close close-conf" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                        <p>Do you want to change the status of the task?</p>
                        <div class="mx-auto">
                            <button type="submit" class="btn btn-outline-primary change-status" name="perform_action">Yes</button>
                            <button type="button mx-auto " class=" close-conf btn btn-outline-danger" data-dismiss="modal">No</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade " id="delete-confirmation" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content popup">
            <div class="modal-header">
                <h5 class="modal-title">Confirmation</h5>
                <button type="button" class="close close-conf" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                    <p>Are you sure you want to delete the task?</p>
                    <div class="mx-auto">
                        <button type="submit" class="btn btn-outline-primary del-task" name="perform_action">Yes</button>
                        <button type="button mx-auto " class=" close-conf btn btn-outline-danger" data-dismiss="modal">No</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>

{% if Edit != None %}
<div class="modal fade " id="editTask" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content popup">
            <div class="modal-header">
                <h5 class="modal-title">Edit Task</h5>
                <button type="button" class="close close-edit" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class='needs-validation' action="/taskBoard?key={{Data.key.urlsafe()}}" method="POST" novalidate>
                    <div class="form-group">
                        <div class="form-group row" style="padding-right: 15px;" >
                            <label for="title" class="col-sm-3 col-form-label">Title</label>
                            <input type="text" class="form-control col-sm-7 ml-auto" value="{{Edit.title}}" disabled placeholder="Task Name" required min=3 >
                            <input type="text" value="{{Edit.title}}" name="title" hidden>
                            <div class='invalid-feedback'>Enter valid Title</div>
                        </div>
                        <div class="form-group row" style="padding-right: 15px;">
                            <label for="dueDate" class="col-sm-3 col-form-label">Due Date</label>
                            <input class="form-control col-sm-7 ml-auto task-date date-set" type="date"   name="dueDate" max="3000-12-31" min="2020-01-01" required>
                            <div class='invalid-feedback'>Enter valid Date</div>
                        </div>
                        <div class="form-group row" style="padding-right: 15px;" >
                            <label for="description" class="col-12 col-form-label">Description</label>
                            <div class="col-12">
                                <textarea class="col-12 form-control task-desc" name="description" value="{{Edit.description}}" id="description" cols="10" rows="5" required></textarea>
                            </div>
                            <div class='invalid-feedback'>Enter valid Description(min 5)</div>
                        </div>
                        <div class="form-group row" style="padding-right: 15px;" >
                            <label for="users" class="col-sm-3 col-form-label">Assigned to</label>
                            <select name="assigned" id="user" class="form-control col-sm-7 ml-auto">
                                {% for user in Data.users %}
                                {% if user.email == Edit.user %}
                                <option value="{{user.email}}" selected>{{user.email}}</option>
                                {% else %}
                                <option value="{{user.email}}">{{user.email}}</option>
                                {% endif %}
                                {% endfor %}
                            </select>
                            <div class='invalid-feedback'>Enter valid Title</div>
                        </div>
                        <div class="form-group row" style="padding-right: 15px;" >
                            <label for="description" class="col-sm-3 col-form-label">Status</label>
                            <input type="checkbox" class="col-sm-7 ml-auto form-check-input stat" name='status'>
                            <div class='invalid-feedback'>Enter valid Description(min 5)</div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-outline-primary" name="perform_action" value = "editTask">Submit</button>
                    <button type="button" class="btn btn-outline-danger close-edit">Close</button>
                </form>

            </div>
        </div>
    </div>
  </div>
  {% endif %}

  <div class="modal fade " id="editBoard" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content popup">
            <div class="modal-header">
                <h5 class="modal-title">Edit Taskboard Name</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class='needs-validation' action="/taskBoard?key={{Data.key.urlsafe()}}" method="POST" novalidate>
                    <div class="form-group">
                        <div class="form-group row" style="padding-right: 15px;" >
                            <label for="invite_user" class="col-sm-3 col-form-label">TaskBoard Name</label>
                            <input type="text" class="form-control col-sm-7 ml-auto" id="taskboardName" name="taskboardName" value="{{Data.title}}" min=3 required>
                            <div class='invalid-feedback'>Enter valid name</div>
                        </div>
                    <button type="submit" class="btn btn-outline-primary" name="perform_action" value = "editBoard">Submit</button>
                    <button type="button mx-auto" class="btn btn-outline-danger" data-dismiss="modal">Close</button>
                </form>
            </div>
        </div>
    </div>
</div>
</div>

<div class="modal fade " id="editOptions" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content popup">
            <div class="modal-header">
                <h5 class="modal-title">Select Edit Option</h5>
                <button type="button" class="close close-conf" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body container">
                <div class="row">
                    <button type="submit" data-toggle="modal" data-dismiss="modal" data-target="#editBoard" class="btn btn-outline-primary mx-auto" name="perform_action">Change TaskBoard Name</button>
                </div>
                {% if name == Data.owner.email %}
                <div class="row mt-4">
                    <button type="button" data-toggle="modal" data-dismiss="modal" data-target="#editUsers" class="btn btn-outline-danger mx-auto">Remove User from taskboard</button>
                </div>
                {% endif %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary mx-auto" data-dismiss="modal">Close</button>
              </div>
        </div>
    </div>
</div>
</div>


<div class="modal fade " id="editUsers" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content popup">
            <div class="modal-header">
                <h5 class="modal-title">Remove Users from TaskBoard</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class='needs-validation' action="/taskBoard?key={{Data.key.urlsafe()}}" method="POST" novalidate>
                    <div class="form-group row" style="padding-right: 15px;" >
                        <label for="users" class="col-sm-3 col-form-label">Users in board</label>
                        <select name="user" id="user" class="form-control col-sm-7 ml-auto">
                            {% for user in Data.users %}
                                {% if user.email != Data.owner.email %}
                                <option value="{{user.email}}">{{user.email}}</option>
                                {% endif %}
                                {% endfor %}
                        </select>
                        <div class='invalid-feedback'>Enter valid user</div>
                    </div>
                    <button type="submit" class="btn btn-outline-danger" name="perform_action" value = "editUsers">Remove</button>
                    <button type="button mx-auto" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                </form>
            </div>
        </div>
    </div>
</div>
</div>

<div class="modal fade " id="deleteBoard" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content popup">
                <div class="modal-header">
                    <h5 class="modal-title">Delete Board</h5>
                    <button type="button" class="close close-conf" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                        <p>Are you sure you want to delete the TaskBoard {{Data.title}}</p>
                            <button type="submit" class="btn btn-outline-danger delete-taskboard" name="perform_action">Yes</button>
                            <button type="button mx-auto " class=" close-conf btn btn-outline-secondary" data-dismiss="modal">No</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>




    <script src="/bootstrap/js/jquery-3.4.1.min.js"></script>
    <script src="/bootstrap/js/bootstrap.js"></script>
    <script src="/bootstrap/js/all.js"></script>
    <script>
        var form = document.querySelector('.needs-validation');

        form.addEventListener('submit', function(event){
            if(form.checkValidity() === false){
                event.preventDefault();
                event.stopPropagation();
            }
            form.classList.add('was-validated');
        });

        function getUrlVars() {
                var vars = {};
                var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function(m,key,value) {
                vars[key] = value;
            });
            return vars;
        }
        function formatDate(date) {
            var d = new Date(date),
                month = '' + (d.getMonth() + 1),
                day = '' + d.getDate(),
                year = d.getFullYear();

            if (month.length < 2) 
                month = '0' + month;
            if (day.length < 2) 
                day = '0' + day;

            return [year, month, day].join('-');
        }

        $('document').ready(()=>{
            if('edit-task' in getUrlVars()){
                $('#editTask').modal()
                if("{{Edit}}" != 'None'){
                    $('.task-desc').val("{{Edit.description}}")
                    date = "{{Edit.due_date}}"
                    date = new Date(date)
                    date = formatDate(date)
                    $('.task-date').val(String(date));
                    
                    if("{{Edit.status}}" === 'False'){
                        $('.stat').prop('checked', false)
                    }
                    else{
                        $('.stat').prop('checked', true)
                    }
                }
            }

            date = new Date();
            date = formatDate(date);
            $('.date-set').attr('min',date)
        });
        
        
        $('.status-change').on('change',function() {
            $('#confirmation').modal();
            task = $(this).val();
            $('.change-status').click(()=>{
                window.location.href = "/taskBoard?key={{Data.key.urlsafe()}}&change-status="+task
            });
        });

        $('.close-conf').click(()=>{
            location.reload();
        });

        $('.close-edit').click(()=>{
            window.location.href = "/taskBoard?key={{Data.key.urlsafe()}}"
        });

        $('.delete-taskboard').click(()=>{
            window.location.href = "/taskBoard?key={{Data.key.urlsafe()}}&Delete=true"
        });

        $('.edit-task').click(function(){
            task = $(this).val();
            window.location.href = "/taskBoard?key={{Data.key.urlsafe()}}&edit-task="+task
        });

        $('.delete-task').click(function(){
            $('#delete-confirmation').modal();
            task = $(this).val();
            $('.del-task').click(()=>{
                window.location.href = "/taskBoard?key={{Data.key.urlsafe()}}&delete-task="+task
            });
        });
    </script>
</body>
</html>